body{
    /*background-image: url('images/background.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: cover;*/
    background-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, span {
    color: black;
}

html,
body {
    height: 100%;
}

th, td {
    color: black;
}

/*.card {*/
/*    position: relative;*/
/*    display: -ms-flexbox;*/
/*    display: flex;*/
/*    -ms-flex-direction: column;*/
/*    flex-direction: column;*/
/*    min-width: 0;*/
/*    word-wrap: break-word;*/
/*    background-color: #fff;*/
/*    background-clip: border-box;*/
/*    border: 1px solid rgba(0, 0, 0, 0.125);*/
/*    border-radius: 0.25rem;*/
/*}*/

.card {
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.line {
    height: 2px;
    background-color: #ddd;
    margin: 15px 0;
}


.card-header {
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-bottom: none;
}

.tab {
    display: flex;
    justify-content: space-between;
}

.tablinks {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 5px;
    outline: none;  /* уберем стандартный контур кнопок */
    font-weight: bold;
    color: #555;
    flex: 1;
    text-align: center;
    flex: 1; /* Каждая кнопка будет занимать равное пространство */
    text-align: center; /* Выравнивание текста по центру кнопки */
    margin-right: 10px;
    box-sizing: border-box;
    width: 25%;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #e7e7e7;
}

.tablinks:last-child {
    margin-right: 0; /* Удаление отступа справа для последней кнопки */
}


.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 90px;
}

.footer-p {
    color: aliceblue;
}

.footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: transparent;


}

.header {
    background-color: rgb(46, 50, 53);
}

.head-text {
    text-decoration: none;
}


.copyright {
    color: black;
    position: absolute;
    width: 132px;
    height: 28px;

    /*font-family: 'Nunito', serif;*/
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;

    /*color: #D6D6DD;*/
}

.card {
    background-color: aquamarine;
    width: 50%;
}

.login-card {
    background-color: aquamarine;
    width: 100%;
}

.item-img {
    width: 100px;
    height: 50px;
}

.container {

    justify-content: center;
}

.preview_img {
    width: 100px;
    height: 100px;
}

