body{
    background-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, span {
    color: black;
}

html,
body {
    height: 100%;
    padding-bottom: 80px;
}



th, td {
    color: black;
}

.line {
    height: 2px;
    background-color: #ddd;
    margin: 15px 0;
}


.card-header {
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-bottom: none;
}

.tab {
    display: flex;
    justify-content: space-between;
}

.tablinks {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
    cursor: pointer;
    outline: none;  /* уберем стандартный контур кнопок */
    font-weight: bold;
    color: #555;
    flex: 1;
    text-align: center;
    margin-right: 10px;
    box-sizing: border-box;
    width: 25%;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #e7e7e7;
}

.tablinks:last-child {
    margin-right: 0; /* Удаление отступа справа для последней кнопки */
}


.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 90px;
}

.footer-p {
    color: aliceblue;
}

.footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: #ffffff; /* or any other color you prefer */
    z-index: 1000; /* ensures the footer stays on top */
}

.header {
    background-color: rgb(46, 50, 53);
}

.head-text {
    text-decoration: none;
}


.copyright {
    color: black;
    position: absolute;
    width: 132px;
    height: 28px;

    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.login-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

.login-card .card-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    text-align: center;
}

.login-card .login-header {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
}

.login-card .card-body {
    padding: 1.5rem;
}

.login-card .form-control {
    border-radius: 0.5rem;
}

.login-card .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    width: 100%;
}

.login-card .btn-primary:hover {
    background-color: #0056b3;
}

.login-card a {
    color: #007bff;
}

.login-card a:hover {
    color: #0056b3;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.item-img {
    width: 100px;
    height: 50px;
}

.preview_img {
    width: 100px;
    height: 100px;
}

/*New elements*/
.my-card {
    background-color: #e3f2fd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.my-card img {
    width: 100%; /* To make the image responsive */
    height: auto; /* To maintain the aspect ratio */
    margin-bottom: 10px;
}

.my-card p {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.my-card a {
    background-color: #ffc107;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

/* This will ensure the cards have some spacing between them */
.col-lg-2, .col-md-4, .col-sm-6 {
    padding: 0 10px;
}

/* For a two-column layout on large screens, four on medium screens, and one on small screens */
@media (min-width: 992px) { /* Large screens */
    .col-lg-2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) { /* Medium screens */
    .col-md-4 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 767px) { /* Small screens */
    .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.price {
    /*color: rgb(227, 242, 253);*/
    font-weight: bold;
}

.login-body {
    background-color: #eef6fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}