<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="../static/images/icon.png">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container content">
    <div class="row justify-content-center">
        <div>
            <div th:if="${param.error}">
                <div class="alert alert-danger" th:text="#{login.invalid}">Invalid Email and Password.</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success" th:text="#{login.action}">You have been logged out.</div>
            </div>
            <div class="login-card">
                <div class="card-header">
                    <h3 class="text-center" th:text="#{login.logForm}">Login Form</h3>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/login}" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="username" class="control-label" th:text="#{login.email}">Email *</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Email"/>
                        </div>

                        <div class="form-group">
                            <label for="password" class="control-label" th:text="#{login.password}">Password *</label>
                            <input type="password" id="password" name="password" class="form-control"  placeholder="Password"/>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-block" th:text="#{login.log}">Login</button>
                        </div>
                        <div class="text-center">
                            <span th:utext="#{login.notRegister}">Not registered? <a href="/register">Register/SignUp Here</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>