<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="../static/images/icon.png">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main class="wrapper">
<div class="row mx-3">
  <h1 th:text="#{menu.title}">Menu</h1>
  <div class="row mt-5">
    <div th:each="el : ${dish}" class="col-lg-2 col-md-4 col-sm-6 mt-2">
        <div class="card-body my-card">
            <img class="preview_img" th:src="@{${'/display?id=' + el.getPreviewImageId()}}" alt="Dish photo"><br>
            <p th:text="${el.title}"/>
            <p>
                <span th:text="#{menu.price}">Price:</span>
                <span th:text="${el.price} + ' UAH'"></span>
            </p>

            <a th:text="#{menu.more}" th:href="'/dish/' + ${el.id}" class="btn">More</a>
        </div>
    </div>
  </div>
  <br>

</div>
  <a th:text="#{menu.add}" th:href="'/dish/add'" class="btn btn-warning row mx-3">Add dish</a>
</main>

<div th:insert="blocks/footer :: footer"></div>
<script src="/js/main.js"></script>
</body>
</html>