<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Language Switcher</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            color: #333;
            margin: 0;
            padding: 0;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }

    </style>
</head>
<body>
<div th:fragment="header">
    <div class="d-flex flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm bg-dark">
        <nav class="my-2 my-md-0">
            <a th:text="#{header.home}" class="p-2 text-white head-text" href="/">Home</a>
            <a th:text="#{header.menu}" class="p-2 text-white head-text" href="/menu">Menu</a>
            <a th:text="#{header.authorize}" class="p-2 text-white head-text" href="/login" th:if="${user?.id == null}">Authorization</a>
            <a th:text="#{header.addDish}" sec:authorize="hasRole('ADMIN')" class="p-2 text-white head-text" href="/dish/add">Add dish</a>
            <a th:text="#{header.allUsers}" sec:authorize="hasRole('ADMIN')" class="p-2 text-white head-text" href="/users">All users</a>
            <a th:text="#{header.UserOrders}" sec:authorize="hasRole('ADMIN')" class="p-2 text-white head-text" href="/orders">User orders</a>
        </nav>
        <div class="user_option_box d-flex align-items-center">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" onclick="toggleDropdown()">
                    EN
                </button>
                <div class="dropdown-content">
                    <a class="dropdown-item" href="javascript:void(0)" onclick="changeLanguage('uk')">Українська</a>
                    <a class="dropdown-item" href="javascript:void(0)" onclick="changeLanguage('en')">English</a>
                </div>
            </div>
            <span th:if="${user.id != null}" th:text="${user.name}" style="color: white">Default Name</span>
            <form th:if="${user.id != null}" action="/logout" method="post">
                <button type="submit" class="btn btn-default" style="border: none; background: none">
                    <i class="fas fa-sign-out-alt" title="Logout" style="color: white;"></i>
                </button>
            </form>
            <a th:if="${shop?.id != null}" th:href="@{'/cart?id='+${shop.id}}" class="cart-link">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
            <a th:if="${shop == null}" th:href="@{/User/cart}" class="cart-link">
                <span class="label">0</span>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<script>
    function toggleDropdown() {
        document.querySelector('.dropdown').classList.toggle('show');
    }
    function changeLanguage(lang) {
        window.location.href = '?lang=' + lang;
    }
    window.onclick = function(event) {
        if (!event.target.matches('.dropdown-toggle')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
</body>
</html>