<div th:fragment="header">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

    <nav class="my-2 my-md mr-md-3">
      <a class="p-2 text-dark" href="/menu">Меню</a>  <!--done-->
      <a class="p-2 text-dark" href="/orders">Мои заказы</a> <!--no-->
      <a class="p-2 text-dark" href="/authorization">Авторизация</a> <!--done-->
      <a class="p-2 text-dark" href="/">На главную</a> <!--done-->
      <a class="p-2 text-dark" href="/dish/add">Добавить блюдо</a> <!--done-->

    </nav>
  </div>
</div>